/**
	* @name HackerMan
	* @author DaTaklaCatto#2207
	* @description An amazing customizable discord theme.
	* @version 0.0.1
	* @invite Mdh23bsrhp
	* @authorId 832922325149810688
	* @website https://nadid-wasique.netlify.app
	* @source https://github.com/DaTaklaCatto/Hackerman-BetterDiscord-Theme
	* @updateUrl https://raw.githubusercontent.com/DaTaklaCatto/Hackerman-BetterDiscord-Theme/main/hackerman.theme.css
*/

:root {
	@import url(https://puckzxz.github.io/NotAnotherAnimeTheme/build/v3/naat.v3.css);
	/* Theme Colors */
	--viridian: #47896Eff;
	--brunswick-green: #224E3Eff;
	--night: #14161Aff;
	--hookers-green: #738B81ff;
	--dark-spring-green: #217756ff;
	--light-blue: #A6CDD0ff;
	--gunmetal: #212D27ff;
	--brunswick-green-2: #375044ff;
	--eerie-black: #192227ff;
	--eerie-black-2: #202321ff;
	
	--theme-background-image: url(https://i.imgur.com/j1Z6HVc.jpg);
}